#resourceTaskTrackerForm .selectContainer .form-control-feedback {
	/* Adjust feedback icon position */
	right: -20px;
}

.row-border {
	border: 1px solid #ccc;
}

.padding-top5px {
	padding-top: 5px;
}

.padding-5px {
	padding: 5px;
}
